include README.md
include LICENSE
include NOTICE
include CONTRIBUTING.md
include CITATION.cff
include SECURITY.md
include CHANGELOG.md
recursive-include docs *.md *.json *.csv
recursive-include examples *.md *.py
prune .validation_tests
prune tests
prune calib
prune output
global-exclude __pycache__ *.py[cod]
